#!/usr/bin/make -f

# Debian Rules by Daniel Bobadilla <dbobadil@dcc.uchile.cl>
# June 2005
#
# Thanks for their help and for some of their code go to:
# * Manoj Srivastava
# * Helen Faulkner
# * Dafydd Harries
# * Gregory Pomerantz

###############################################################################
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
###############################################################################

# Name of the package
package=xfce4-screenshooter-plugin

# Function to check if we're in the correct dir (thanks Manoj)
#define checkdir
#@test -f debian/rules -a -f sixtynine.c || \
#(echo Not in correct source directory; exit 1)
#endef

# Function to check if we're root (thanks Manoj)
define checkroot
@test $$(id -u) = 0 || (echo need root priviledges; exit 1)
endef

# Top directory of the source code (thanks Manoj)
SRCTOP := $(shell if [ "$$PWD" != "" ]; then echo $$PWD; else pwd; fi)
# Destination directory where files will be installed
DESTDIR = $(SRCTOP)/debian/$(package)

# Definition of directories
BIN_DIR = $(DESTDIR)/usr/bin
LIB_DIR = $(DESTDIR)/usr/lib/xfce4/panel-plugins
SHARE_DIR = $(DESTDIR)/usr/share/xfce4-screenshooter-plugin
DOCS_DIR = $(DESTDIR)/usr/share/doc/xfce4-screenshooter-plugin
MAN_DIR = $(DESTDIR)/usr/share/man/man1
MENU_DIR = $(DESTDIR)/usr/lib/menu
PIXMAPS_DIR = $(DESTDIR)/usr/share/pixmaps

# Stamp Rules

configure-stamp:
	#$(checkdir)
	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
	touch configure-stamp

build-stamp: configure-stamp
	#$(checkdir)
	rm -f build-stamp
	$(MAKE)
	touch build-stamp

# Debian rules

build: build-stamp

clean: configure-stamp
#clean: stamp-configure
	#$(checkdir)
	rm -f *-stamp
	$(MAKE) distclean
	rm -rf debian/$(package)
	rm -f debian/files
	rm -f debian/substvars

binary-indep: build

# Definitions for install
INST_OWN = -o root -g root
MAKE_DIR = install -p -d $(INST_OWN) -m 755
INST_FILE = install -c $(INST_OWN) -m 644
INST_PROG = install -c $(INST_OWN) -m 755 -s
INST_SCRIPT = install -c $(INST_OWN) -m 755

binary-arch: build
	$(checkdir)
	$(checkroot)

# Install Program
	$(MAKE) install DESTDIR=$(DESTDIR) LIBTOOL=libtool

# Install Program Resources
	$(MAKE_DIR) $(SHARE_DIR)
	$(MAKE_DIR) $(DESTDIR)/DEBIAN

# Install Docs
	$(MAKE_DIR) $(DOCS_DIR)
	$(INST_FILE) debian/copyright $(DOCS_DIR)/copyright
	$(INST_FILE) debian/changelog $(DOCS_DIR)/changelog
	$(INST_FILE) README $(DOCS_DIR)/README

# Install Manpages
	#$(MAKE_DIR) $(MAN_DIR)
	#$(INST_FILE) doc/xfce4-screenshooter-plugin.1 $(MAN_DIR)
	#gzip -9 $(MAN_DIR)/xfce4-screenshooter-plugin.1
	
# Install Menu and Icon
#$(MAKE_DIR) $(MENU_DIR)
#$(INST_FILE) debian/menu $(MENU_DIR)/xfce4-screenshooter-plugin
#$(MAKE_DIR) $(PIXMAPS_DIR)
#$(INST_FILE) debian/xfce4-screenshooter-plugin.xpm $(PIXMAPS_DIR)

# Install Package Scripts
#$(INST_SCRIPT) debian/postinst $(DESTDIR)/DEBIAN
#$(INST_SCRIPT) debian/postrm $(DESTDIR)/DEBIAN

# Compress Docs (thanks Helen)
	gzip -9 $(DOCS_DIR)/changelog
#gzip -9 $(MAN_GAMES_DIR)/xfce4-screenshooter-plugin.6

# Strip the symbols from the executable (thanks Helen)
# TODO: the stripping part in binary-arch should honor the DEB_BUILD_OPTIONS environment variable and not strip stuff when it includes 'nostrip'
	strip -R .comment $(LIB_DIR)/libscreenshooter.so
	rm -rf $(LIB_DIR)/libscreenshooter.a
	rm -rf $(LIB_DIR)/libscreenshooter.la

# Work out the shared library dependancies (thanks Helen)
	dpkg-shlibdeps $(LIB_DIR)/libscreenshooter.so
	chmod 644 $(LIB_DIR)/libscreenshooter.so

# Generate the control file (thanks Helen)
	dpkg-gencontrol -isp -P$(DESTDIR)

# Make DEBIAN/md5sums (thanks Helen)
	cd $(DESTDIR) && find . -type f ! -regex '.*DEBIAN/.*' -printf '%P\0' | xargs -r0 md5sum > DEBIAN/md5sums

# Create the .deb package (thanks Helen)
	dpkg-deb -b $(DESTDIR) ../

# Below here is fairly generic really

binary: binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean build
